.expense-form {
  margin-bottom: 1rem;
  background-color: #9775fa;
  padding: 2rem;
  border-radius: 9px;
}

.form-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: center;
  margin-bottom: 6rem;
  gap: 4.8rem;
}

label {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin-right: 2rem;
  margin-bottom: 2rem;
  display: block;
}
input {
  width: 40rem;
  height: 3.8rem;
  border-radius: 9px;
  padding: 1rem;
  font-size: 1.8rem;
  outline: none;
  display: inline-block;
}

.new-expense-date {
  width: 50%;
  margin-bottom: 6rem;
}
.btn {
  text-transform: uppercase;
  padding: 1.5rem 2.4rem;
  background-color: #2e1c63;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  outline: none;
  border-radius: 1.5rem;
  border: none;
}

.submit-button {
  display: flex;
  justify-content: flex-start;
}

.submit {
  display: inline-block;
}

.add-new-expense {
  display: flex;
  justify-content: center;
}

.cancel {
  margin-right: 2rem;
}

/* media query */
/* 63em = 1000px */
@media (max-width: 63em) {
  .form-input {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
/* 37em = 592px */
@media (max-width: 37em) {
  input {
    width: 100%;
  }
  html {
    font-size: 45%;
  }
}
/* 25em = 400px */
@media (max-width: 25em) {
  .submit-button {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: start;
  }
  html {
    font-size: 40%;
  }
}
